html{
    scroll-behavior: smooth;
}

:root {
    font-size: 16px;
    --transition-speed: 600ms;
  }
  
  body {
    color: black;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    background-image: url(images/GSFC_20171208_Archive_e001982_orig.jpg);   
    background-repeat: no-repeat;
    background-position: top right;
  }
  
  body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: #000000;
 
  }
  
  body::-webkit-scrollbar-thumb {
    background: #646464;
    border-radius: 10px;
  }
  #home img {
    filter: grayscale(100%);
    padding-left: 20%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  .container {
    margin-left: 10rem;
    margin-right: 10rem;
    width: auto;
 

  }

  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: auto;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .nav-item {
    width: 100%;
    padding-top: 5px;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 50px;
    color: #303030;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: #303030;
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }

  
  .fa-primary {
    color: #3a3a3a;
  }
  
  .fa-secondary {
    color: #303030;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }  

  .navbar {
    top: 5rem;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 7rem;
  }

  .navbar:hover .link-text {
    display: inline;
    text-decoration: none;
  }

  .navbar:hover .logo-text
  {
    text-align: center;
    text-decoration: none;
  }
  
  .abscenter {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
}
 
  main {
    padding-left: auto;
    padding-right: auto;
    /*border: 7px solid rgba(255,255,255,0.7);*/
    text-align: center;
    
  }
  
  
header {
    padding-top: 10px;
    background-color: #00000000;
    display: flex;

}


#home {
    height: 800px;
    line-height: 15px;  

}

.imglinkcenter{
    text-align: center;
}


#experience {
    height: 1500px;
    
    
}

hr.solid {
    border-top: 3px solid #bbb;
  }

#experience p {
    text-align: left;
    font-size: 14px;
}

#college {
    height: 1500px;

 
    background-image: url(images/ohiostateuniversityoval.jpeg);
    background-size: 100%;
    background-repeat: none;
    background-position: center; 
    overflow: hidden;
    
}

#college p {
    text-align: left;
    font-size: 14px;
    padding-left: 1rem;
}

#methods {
    height: 700px;
    background: teal;

 
    
}

#interests {
    height: 700px;
    background: green;

    width: 100%;
    
}

#grail {
    height: 700px;
    background: yellow;

    
}



footer {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    background-color: #ffffff44;   
    display: flex;
}

.title {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    letter-spacing: 2px;
    font-size: 11px;
    position: absolute;
    left: 0px;
    font-family: "Lucida Sans Typewriter","Lucida Console","Bitstream Vera Sans Mono",monospace;
    color: white
}


h1 {
    font-size: 110px;
    line-height: 60px;
    padding: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;    
}

p {
    font-weight: 300;
    font-size: 12px;
    /*color: #303030;*/
    color: white;
    line-height: 26px;
    font-family: "Lucida Sans Typewriter","Lucida Console","Bitstream Vera Sans Mono",monospace;
    text-align: center;
    width: 646px;
    padding-top: auto;
    padding-left: auto;
    padding-right: auto;
}


footer p {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  
}
