html{
    scroll-behavior: smooth;
}

:root {
    font-size: 16px;
    --transition-speed: 600ms;
}
  
body {
    color: black;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}
  
body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: #000000;
 
}
  
body::-webkit-scrollbar-thumb {
    background: #646464;
    border-radius: 10px;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: auto;
    padding-top: 1%;
}
  
.navbar-nav {
    list-style: none;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
  
.nav-item {
    width: 100%;
    padding-top: 10px;
}
  
.nav-item:last-child {
    margin-top: auto;
}
  
.nav-link {
    display: flex;
    align-items: center;
    height: 50px;
    color: #303030;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: #303030;
}
  
.link-text {
    display: none;
    margin-left: 1rem;
}

.fa-primary {
    color: #303030;
}
  
.fa-secondary {
    color: #414141;
}
  
.navbar {
    top: 7rem;
    width: 4rem;
    height: 100vh;
}

.navbar:hover {
    width: 7rem;
}

.navbar:hover .link-text {
    display: inline;
    text-decoration: none;
}

.navbar:hover .logo-text
  {
    text-align: center;
    text-decoration: none;
}
  

hr.solid {
    margin-left: 10rem;
    margin-right: 10rem;
    width: auto;
    border-top: 3px solid white;
    border-radius: 5px;
}

 
main {
    margin-left: 10rem;
    margin-right: 10rem;
    width: auto;
    padding-left: auto;
    padding-right: auto;
    /*border: 7px solid rgba(255,255,255,0.7);*/
    text-align: center;    
}

.title {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    letter-spacing: 2px;
    font-size: 11px;
    position: absolute;
    left: 10px;
    font-family: "Lucida Sans Typewriter","Lucida Console","Bitstream Vera Sans Mono",monospace;
    color: rgb(0, 0, 0)
    
}
  
header {
    background-image: url(images/01.jpg);
    height: 210vh;
    background-size: cover;
    padding-top: 10px;
    background-color: #ffffff;
}


#home {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    line-height: 15px;  
    background-image: url(images/GSFC_20171208_Archive_e001982_orig.jpg); 
    background-size: 125rem;  
    background-repeat: no-repeat;
    background-position: top right;

}



.ME img {
    position: absolute;
    padding-left: 15%;
    opacity: 0.60;
    filter: grayscale(100%);
    
}
.ME p {
    text-align: center;
    padding-top: 40%;
    font-size: 14px;
    margin-right: 10rem;
    margin-left: 10rem;
    
} 
.ME a {
    text-align: center;
    font-size: 14px;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-left: 40%;
} 

#experience {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    background-image: url(images/jupiter.jpg);
    margin: 0;
    padding: 0;   
    background-repeat: no-repeat;
    background-position: top right;
    margin-left: 10rem;
    

    
}

#experience p {
    text-align: left;
    font-size: 16px;
    margin-right: 25rem;
    margin-left: 10rem;
}

#college {
    margin-left: 10rem;
    background-image: url(images/saturn.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 250rem;
    font-size: 16px;
    line-height: 10px;
    
}

#methods {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    margin: 0;
    padding: 0;   
    background-repeat: no-repeat;
    background-position: top right;
    margin-right: 0%;
    margin-left: 10rem;
    background-size: 175rem;
}

#methods p {
    text-align: left;
    font-size: 16px;
    margin-left: 10rem;
    margin-right: 10rem;
}

#interests {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    margin: 0;
    padding: 0;   
    background-image: url(images/jup2.jpg);
    background-repeat: no-repeat;
    background-position:  right;
    background-size: cover;
    margin-right: 0%;
    margin-left: 10rem;
}


#interests p {
    text-align: left;
    font-size: 16px;
    margin-left: 10rem;
    margin-right: 10rem;
}

#grail {
    background-image: url(images/mars.jpg);
    margin: 0;
    padding: 0;   
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 175rem;
    margin-left: 10rem;
    
}

#grail p {
    text-align: center;
    font-size: 16px;
    margin-right: 10rem;
}

#grail img{
    padding-left: 40%;
    height: 900px;
}

footer {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    background-color: #000000;   
    background-image: url(images/blackandwhite.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;

}






h1 {
    font-size: 110px;
    line-height: 60px;
    padding: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;    
}

p {
    font-weight: 300;
    font-size: 12px;
    /*color: #303030;*/
    color: white;
    line-height: 24px;
    font-family: "Lucida Sans Typewriter","Lucida Console","Bitstream Vera Sans Mono",monospace;
    text-align: center;

}

a {
    font-weight: 300;
    font-size: 12px;
    color: white;
    line-height: 26px;
    font-family: "Lucida Sans Typewriter","Lucida Console","Bitstream Vera Sans Mono",monospace;
    text-align: center;
    width: 45%;
    padding-left: 25%;
}

footer p {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: left;

  
}

footer a {
    position: left;
    font-size: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  
}
